/* Dynamic DOM */
h1 {
  font-family: sans-serif;
  font-size: 64px;
  color: #CCC;
  padding: 5px;
  margin: 5px;
}
#theList ul {
  padding: 0;
  margin: 10px;
}
#theList li {
  font-family: sans-serif;
  background-color: gold;
  float: left;
  padding: 8px;
  list-style-type: none;
  margin: 10px;
  border-radius: 5px;
}
.menu-active {
  border-radius: 6px 0 0 6px;
  background-color: #e3e6e8;
}

button {
  color: #212529;
  cursor: pointer;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.active {
  border: 1px solid blue;
  color: blue;
}

.main-header {
  /* text-align: center; */
  font-family: sans-serif;
  float: center;
  clear: both;
  color: #000;
  padding: 8px 8px 16px 0;
  margin: 5px;
  display: block;
}

.joke-div {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  outline: 0;
  background: #fafafa;
  border: 1px dashed #000000;
  border-radius: 2px;
  transition: border-color 0.3s;
}
.joke-div:hover {
  border: 1px dashed #40a9ff;
}
.category {
  color: rgba(26, 20, 20, 0.45);
  font-size: 16px;
}
#category-name {
  font-weight: bold;
}
.joke {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  margin: 0 0 4px;
}
.next-btn {
  color: #ffffff;
  margin-top: 12px;
  background-color: rgb(111, 148, 230);
  /* background-color: rgb(68, 141, 209); */
}

.theCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.gdk-card-item {
  height: 200px;
  width: 225px;
  margin: 8px;
  margin-right: 16px;
}
.gdk-card-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gdk-avatar,
.gdk-text-muted {
  text-align: center;
}
.gdk-text-muted {
  padding: 2px 0;
  color: #637180;
}
.name {
  font-size: 18px;
  font-weight: bold;
}
.gdk-avatar .fa-user-circle {
  margin-top: 12px;
  font-size: 3rem;
  color: rgb(111, 148, 230);
  /* color: rgb(68, 141, 209); */
}
.gdk-text-muted-bold {
  font-weight: bold;
}

/* Mobile VIEW CSS */
@media screen and (max-width: 500px) {
  .theCard {
    flex-direction: column;
  }
  .gdk-card-item {
    width: 80%;
    margin: 8px 0 8px 0;
  }
  .menu-active {
    border-radius: 0;
    background-color: #ffffff;
  }
}
@media screen and (max-width: 767px) and (min-width: 500px) {}

/* Endof Dynamic DOM */
