body {
  width: 940px;
  margin: 0 auto;
}

.menu {
  margin-top: 24px;
  margin-right: 12px;
  margin-left: 300px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  float: left;
  background-color: #ffffff;
  border-top: 1px solid #6a737c;
  border-bottom: 1px solid #6a737c;
  border-right: 1px solid #6a737c;
}
.menu li:first-child {
  border-radius: 6px 0 0 6px;
  border-left: 1px solid #6a737c;
}
.menu li:last-child {
  border-radius: 0 6px 6px 0;
}

.menu li a {
  display: block;
  color: #6a737c;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.menu li:hover {
  color: #3b4045;
  background-color: #e3e6e8;
}

.content {
  margin: 8px;
}

/* Mobile VIEW CSS */
@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
  .menu {
    margin-right: 0;
    margin-left: 6px;
    margin-bottom: 24px;
  }
  .menu li {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #6a737c;
  }
  .menu li:last-child {
    border-right: none;
    border-radius: 0 0 0 0;
  }
  .menu li:first-child {
    border-left: none;
    border-radius: 0 0 0 0;
  }
  .menu li a {
    padding: 8px;
  }
}
@media screen and (max-width: 767px) and (min-width: 500px) {
  body {
    width: 100%;
  }
  .menu {
    margin-left: 6px;
  }
}
